@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

#navbar .navbar {
    border-bottom: solid 1px dodgerblue;
}

#navbar h1{
    font-family: 'Righteous', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: dodgerblue;
}

#navbar .form-control{
    font-size: 15px;
    border:solid 1px dodgerblue;

}

#navSearch{
    color: dodgerblue;
    border: 1px solid dodgerblue;
}

#navSearch:hover{
    background-color: dodgerblue;
    color: white;
}

.jumbotron{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid dodgerblue;
}

.jumbotron h1{
    font-size: 40px;
    font-weight: bold;
    color: dodgerblue;
}

.jumbotron h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 35px;
}

.jumbotron h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    line-height: 30px;
    border-bottom: 1px solid dodgerblue;
}

#userInfo{
    width: 50%;
    color: dodgerblue;
    margin: 15px;
    padding: 20px;
}

#startBtn{
    background-color: dodgerblue;
    font-weight: bolder;
}
#startBtn:hover{
    transform: scale(1.25);
    background-color: dodgerblue;
}

.container-wrap-wrap{
    max-width: 960px;
    margin: auto;
}

#allQuestions{
    display: flex; 
    flex-direction: column;
    font-size: 20px;
    font-weight: bolder;
}

#allQuestions button{
    display:flex;
    margin: 10px;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    background-color: white;
    border: dodgerblue 1px solid;
    color: dodgerblue;
}

.questions{
    padding:15px;
}

#allQuestions h2{
    font-size: 25px;
    color: dodgerblue;
}

li{
    margin:15px;
    padding:15px;
}

#allQuestions #q1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px gray solid;
}

.btn-group{
    width: 100%;
    margin-top: 10px;
    padding:10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    border-top:  1px gray dotted;
    justify-content: space-evenly;
    font-size: 18px;
    font-weight: bolder;
}

.dropdown-menu button{
    padding:10px;
}


.checkbox{
width:20px;
height:20px;
margin:5px;
}

#submit{
    display:flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
}

#submit p{
    margin: 20px;
    font-style: italic;
    text-align: center;
}

#submitBtn{

    align-self: center;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
    background-color:dodgerblue;
    border: dodgerblue 1px solid;
    color: white;
}

#submitBtn:hover{
    transform: scale(1.25);
}

#chatContainer{
    width: 90%;
    color: dodgerblue;
    margin: 15px;
    padding: 20px;
    font-weight: bold;
}

#messages{
    border: 
}

#chatInput{
    width: 90%;
    color: dodgerblue;
    margin: 15px;
    padding: px;
}

footer{
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-top: dodgerblue 2px solid;
    font-size: 10px;
}

footer h3{
  font-size: 15px;
}

#results{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    font-weight: bolder;
}

#results:hover{
transform: scale(1.05);
}

#cardBody{
    border: solid 2px dodgerblue;
}
 
#title{
    border-bottom: dotted 1px dodgerblue;
    font-size: 30px;
}

#text{
    line-height: 2cm;
}

#redo{
    text-align: center;
    margin-top: 20px;
}
